client/post-processing/flows.json
[
    {
        "id": "e5ff7f387ec0af58",
        "type": "tab",
        "label": "Advance Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b56b851c180cbc4b",
        "type": "tab",
        "label": "Pre Detection flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56d7af57f34d08fb",
        "type": "tab",
        "label": "Post Detection flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f4823599e012ecf",
        "type": "tab",
        "label": "Catch Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09310a4daf509e32",
        "type": "watch",
        "z": "e5ff7f387ec0af58",
        "name": "Watch test folder",
        "files": "/Users/gelso/workspace/PoC/client/inferences/test",
        "recursive": true,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "d370592ba8da03c9"
            ]
        ]
    },
    {
        "id": "d370592ba8da03c9",
        "type": "exec",
        "z": "e5ff7f387ec0af58",
        "command": "cd /Users/gelso/workspace/PoC/client/inferences && python3 test-onnx.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "Run detection",
        "x": 620,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a91fe4b363cb2226",
        "type": "template",
        "z": "e5ff7f387ec0af58",
        "name": "HTML Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<h1> DEFECT DEFECT... </h1>\n<p>We detected a defect on {{dateFormat}}!</p>\n\n<p><img src=\"data:image/jpeg;base64,{{imageBase64}}\" alt=\"Defect Image\"/></p>\n",
        "output": "str",
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "c58ef4d4fb3acac9",
                "3e7d849007b1bb5c"
            ]
        ]
    },
    {
        "id": "c58ef4d4fb3acac9",
        "type": "e-mail",
        "z": "e5ff7f387ec0af58",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "andrea_gelsomino@hotmail.com",
        "dname": "Send notification",
        "x": 1350,
        "y": 400,
        "wires": [],
        "info": "vpsp hmum bsge lxyf"
    },
    {
        "id": "783d18f0473c6345",
        "type": "file in",
        "z": "e5ff7f387ec0af58",
        "name": "Convert Image ",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "a4db42fd73d27fd0"
            ]
        ]
    },
    {
        "id": "dc80e2a28022a9cc",
        "type": "function",
        "z": "e5ff7f387ec0af58",
        "name": "Prepare Object",
        "func": "msg.payload = {\n    timestamp: msg.timestamp,\n    dateFormat: new Date(msg.timestamp).toLocaleString(),\n    filename: msg.filename,\n    workshop: \"T11\",\n    workshopId: \"12345\",\n    _msgId: msg._msgid,\n    camera: \"Camera 1\",\n    cameraId: \"CameraId\",\n    imageBase64: msg.imageBase64\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "31f530353a98f1a7"
            ]
        ]
    },
    {
        "id": "a4db42fd73d27fd0",
        "type": "change",
        "z": "e5ff7f387ec0af58",
        "name": "Add Timestamp",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "acbc95ca8524c449"
            ]
        ]
    },
    {
        "id": "03a5554fd1cc6569",
        "type": "switch",
        "z": "e5ff7f387ec0af58",
        "name": "",
        "property": "event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "update",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "783d18f0473c6345"
            ]
        ]
    },
    {
        "id": "d31042a673ff0977",
        "type": "watch",
        "z": "e5ff7f387ec0af58",
        "name": "Watch output folder",
        "files": "/Users/gelso/workspace/PoC/client/inferences/output",
        "recursive": true,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "03a5554fd1cc6569"
            ]
        ]
    },
    {
        "id": "31f530353a98f1a7",
        "type": "http request",
        "z": "e5ff7f387ec0af58",
        "name": "Http Post -send defect",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/new-defect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 440,
        "wires": [
            [
                "aba485c9d5252c0c"
            ]
        ]
    },
    {
        "id": "acbc95ca8524c449",
        "type": "change",
        "z": "e5ff7f387ec0af58",
        "name": "Change name",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "imageBase64",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "size",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "event",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "dc80e2a28022a9cc"
            ]
        ]
    },
    {
        "id": "aba485c9d5252c0c",
        "type": "change",
        "z": "e5ff7f387ec0af58",
        "name": "Change name",
        "rules": [
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "file",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 440,
        "wires": [
            [
                "a91fe4b363cb2226"
            ]
        ]
    },
    {
        "id": "3e7d849007b1bb5c",
        "type": "exec",
        "z": "e5ff7f387ec0af58",
        "command": "rm ",
        "addpay": "filename",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "Delete image",
        "x": 1330,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cc227be2cc1cb3aa",
        "type": "watch",
        "z": "56d7af57f34d08fb",
        "name": "Watch output folder",
        "files": "/Users/gelso/workspace/PoC/client/inferences/output",
        "recursive": true,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "b6657661e635a53b"
            ]
        ]
    },
    {
        "id": "b6657661e635a53b",
        "type": "http request",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0c57b342dc3cd876",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "credtype": "account",
        "account": "",
        "text": "",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b9bc5f9ce600beb1",
        "type": "telegram sender",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "126195d01abe3337",
        "type": "http request",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "786368135c5f76b3",
        "type": "websocket in",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "server": "",
        "client": "",
        "x": 440,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "98bb624796090f07",
        "type": "catch",
        "z": "8f4823599e012ecf",
        "name": "",
        "scope": [
            "783d18f0473c6345",
            "dc80e2a28022a9cc",
            "31f530353a98f1a7",
            "aba485c9d5252c0c",
            "3e7d849007b1bb5c",
            "09310a4daf509e32",
            "d370592ba8da03c9"
        ],
        "uncaught": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "56b7a1f0165a52a4",
                "596fe05ccbb831ea"
            ]
        ]
    },
    {
        "id": "596fe05ccbb831ea",
        "type": "debug",
        "z": "8f4823599e012ecf",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "56b7a1f0165a52a4",
        "type": "e-mail",
        "z": "8f4823599e012ecf",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "andrea_gelsomino@hotmail.com",
        "dname": "Send notification",
        "x": 330,
        "y": 100,
        "wires": [],
        "info": "vpsp hmum bsge lxyf"
    }
]