client/post-processing/flows.json
[
    {
        "id": "b56b851c180cbc4b",
        "type": "tab",
        "label": "Pre Detection flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56d7af57f34d08fb",
        "type": "tab",
        "label": "Post Detection flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f4823599e012ecf",
        "type": "tab",
        "label": "Catch Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5ff7f387ec0af58",
        "type": "tab",
        "label": "Advance Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94e3b6bceb5546d9",
        "type": "tab",
        "label": "Health Check",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79f7f96a02b62b78",
        "type": "subflow",
        "name": "Prepare Object Defect",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 140,
                "wires": [
                    {
                        "id": "336072ee80688ae2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 140,
                "wires": [
                    {
                        "id": "c5967c8042d82735",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "837c2f09fddccebf",
        "type": "file in",
        "z": "79f7f96a02b62b78",
        "name": "Convert Image ",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "e5112d79ad9f0215"
            ]
        ]
    },
    {
        "id": "e5112d79ad9f0215",
        "type": "change",
        "z": "79f7f96a02b62b78",
        "name": "Add Timestamp",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "df45b1cd1b0f25ef"
            ]
        ]
    },
    {
        "id": "336072ee80688ae2",
        "type": "switch",
        "z": "79f7f96a02b62b78",
        "name": "",
        "property": "event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "update",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "837c2f09fddccebf"
            ]
        ]
    },
    {
        "id": "df45b1cd1b0f25ef",
        "type": "change",
        "z": "79f7f96a02b62b78",
        "name": "Change name",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "imageBase64",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "size",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "event",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 140,
        "wires": [
            [
                "c5967c8042d82735"
            ]
        ]
    },
    {
        "id": "c5967c8042d82735",
        "type": "function",
        "z": "79f7f96a02b62b78",
        "name": "Prepare Object",
        "func": "msg.payload = {\n    timestamp: msg.timestamp,\n    dateFormat: new Date(msg.timestamp).toLocaleString(),\n    filename: msg.filename,\n    workshop: \"T11\",\n    workshopId: \"12345\",\n    _msgId: msg._msgid,\n    camera: \"Camera 1\",\n    cameraId: \"CameraId\",\n    imageBase64: msg.imageBase64\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "09310a4daf509e32",
        "type": "watch",
        "z": "b56b851c180cbc4b",
        "name": "Watch test folder",
        "files": "/Users/gelso/workspace/PoC/client/inferences/test",
        "recursive": true,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "d370592ba8da03c9"
            ]
        ]
    },
    {
        "id": "d370592ba8da03c9",
        "type": "exec",
        "z": "b56b851c180cbc4b",
        "command": "cd /Users/gelso/workspace/PoC/client/inferences && python3 test-onnx.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "Run detection",
        "x": 580,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b6657661e635a53b",
        "type": "http request",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0c57b342dc3cd876",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "credtype": "account",
        "account": "",
        "text": "",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 860,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b9bc5f9ce600beb1",
        "type": "telegram sender",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 860,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "126195d01abe3337",
        "type": "http request",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "553c2b1463077f70",
        "type": "template",
        "z": "56d7af57f34d08fb",
        "name": "HTML Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<h1> DEFECT DEFECT... </h1>\n<p>We detected a defect on {{dateFormat}}!</p>\n\n<p><img src=\"data:image/jpeg;base64,{{imageBase64}}\" alt=\"Defect Image\"/></p>\n",
        "output": "str",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "81b74fbe0531d93f",
                "b6657661e635a53b",
                "0c57b342dc3cd876",
                "b9bc5f9ce600beb1",
                "126195d01abe3337",
                "e337c3dd0bb0b473"
            ]
        ]
    },
    {
        "id": "81b74fbe0531d93f",
        "type": "e-mail",
        "z": "56d7af57f34d08fb",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "andrea_gelsomino@hotmail.com",
        "dname": "Send notification",
        "x": 870,
        "y": 200,
        "wires": [],
        "info": "vpsp hmum bsge lxyf"
    },
    {
        "id": "d7263d5a9eec6d6c",
        "type": "watch",
        "z": "56d7af57f34d08fb",
        "name": "Watch output folder",
        "files": "/Users/gelso/workspace/PoC/client/inferences/output",
        "recursive": true,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "54db61e91c8f9d4c"
            ]
        ]
    },
    {
        "id": "809a7186b4352fc2",
        "type": "change",
        "z": "56d7af57f34d08fb",
        "name": "Change name",
        "rules": [
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "file",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "553c2b1463077f70"
            ]
        ]
    },
    {
        "id": "e337c3dd0bb0b473",
        "type": "websocket out",
        "z": "56d7af57f34d08fb",
        "d": true,
        "name": "",
        "server": "",
        "client": "",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "54db61e91c8f9d4c",
        "type": "subflow:79f7f96a02b62b78",
        "z": "56d7af57f34d08fb",
        "name": "",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "809a7186b4352fc2"
            ]
        ]
    },
    {
        "id": "98bb624796090f07",
        "type": "catch",
        "z": "8f4823599e012ecf",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "56b7a1f0165a52a4",
                "596fe05ccbb831ea"
            ]
        ]
    },
    {
        "id": "596fe05ccbb831ea",
        "type": "debug",
        "z": "8f4823599e012ecf",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "56b7a1f0165a52a4",
        "type": "e-mail",
        "z": "8f4823599e012ecf",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "andrea_gelsomino@hotmail.com",
        "dname": "Send notification",
        "x": 430,
        "y": 100,
        "wires": [],
        "info": "vpsp hmum bsge lxyf"
    },
    {
        "id": "31f530353a98f1a7",
        "type": "http request",
        "z": "e5ff7f387ec0af58",
        "name": "Http Post -Send Defect",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/new-defect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 180,
        "wires": [
            [
                "3e7d849007b1bb5c"
            ]
        ]
    },
    {
        "id": "3e7d849007b1bb5c",
        "type": "exec",
        "z": "e5ff7f387ec0af58",
        "command": "rm ",
        "addpay": "filename",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "Delete local image",
        "x": 1050,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "aada60ebf6288682",
        "type": "subflow:79f7f96a02b62b78",
        "z": "e5ff7f387ec0af58",
        "name": "Prepare Object Defect",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "31f530353a98f1a7"
            ]
        ]
    },
    {
        "id": "dc47a598cd60c45f",
        "type": "watch",
        "z": "e5ff7f387ec0af58",
        "name": "Watch output folder",
        "files": "/Users/gelso/workspace/PoC/client/inferences/output",
        "recursive": true,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "aada60ebf6288682"
            ]
        ]
    },
    {
        "id": "06c86b669066fb32",
        "type": "http in",
        "z": "94e3b6bceb5546d9",
        "name": "Check. Server 1",
        "url": "",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "e8a8bbfe1ba546b7"
            ]
        ]
    },
    {
        "id": "e8a8bbfe1ba546b7",
        "type": "debug",
        "z": "94e3b6bceb5546d9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f7a6bd0a3237e26",
        "type": "http in",
        "z": "94e3b6bceb5546d9",
        "name": "Check IOT 1",
        "url": "",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "e8a8bbfe1ba546b7"
            ]
        ]
    },
    {
        "id": "8281a173d441a8e0",
        "type": "http in",
        "z": "94e3b6bceb5546d9",
        "name": "Check Camera 1",
        "url": "",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "e8a8bbfe1ba546b7"
            ]
        ]
    },
    {
        "id": "b7afcf2b0211296c",
        "type": "http in",
        "z": "94e3b6bceb5546d9",
        "name": "Check Camera 2",
        "url": "",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "e8a8bbfe1ba546b7"
            ]
        ]
    }
]