client/post-processing/flows.json
[
    {
        "id": "0a9520b3bc66dad6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e5ff7f387ec0af58",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09310a4daf509e32",
        "type": "watch",
        "z": "e5ff7f387ec0af58",
        "name": "Watch test folder",
        "files": "/Users/gelso/workspace/PoC/client/inferences/test",
        "recursive": true,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "d370592ba8da03c9"
            ]
        ]
    },
    {
        "id": "d370592ba8da03c9",
        "type": "exec",
        "z": "e5ff7f387ec0af58",
        "command": "cd /Users/gelso/workspace/PoC/client/inferences && python3 test-onnx.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "winHide": false,
        "oldrc": false,
        "name": "Run detection",
        "x": 620,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a91fe4b363cb2226",
        "type": "template",
        "z": "e5ff7f387ec0af58",
        "name": "HTML Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<h1> DEFECT DEFECT... </h1>\n<p>We detected a defect on {{dateFormat}}!</p>\n\n<p><img src=\"data:image/jpeg;base64,{{base64}}\" alt=\"Defect Image\"/></p>\n\n {{sayhello}}",
        "output": "str",
        "x": 1540,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c58ef4d4fb3acac9",
        "type": "e-mail",
        "z": "e5ff7f387ec0af58",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "andrea_gelsomino@hotmail.com",
        "dname": "Send notification",
        "x": 1870,
        "y": 580,
        "wires": [],
        "info": "vpsp hmum bsge lxyf"
    },
    {
        "id": "8b2cd957b93a2ab0",
        "type": "debug",
        "z": "e5ff7f387ec0af58",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 280,
        "wires": []
    },
    {
        "id": "783d18f0473c6345",
        "type": "file in",
        "z": "e5ff7f387ec0af58",
        "name": "Convert Image ",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "a4db42fd73d27fd0"
            ]
        ]
    },
    {
        "id": "dc80e2a28022a9cc",
        "type": "function",
        "z": "e5ff7f387ec0af58",
        "name": "Clean Object",
        "func": "// ADD PROPERTY\nmsg.sayhello = \"ciao\"; \n\nmsg.payload = {\n    timestamp: msg.timestamp,\n    dateFormat: new Date(msg.timestamp).toLocaleString(),\n    filename: \"test.jpg\",\n    workshop: \"T11\",\n    workshopId: \"12345\",\n    _msgId: msg._msgid,\n    camera: \"Camera 1\",\n    cameraId: \"CameraId\",\n    imageBase64: msg.imageBase64\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 280,
        "wires": [
            [
                "31f530353a98f1a7"
            ]
        ]
    },
    {
        "id": "a4db42fd73d27fd0",
        "type": "change",
        "z": "e5ff7f387ec0af58",
        "name": "Add Timestamp",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "acbc95ca8524c449"
            ]
        ]
    },
    {
        "id": "03a5554fd1cc6569",
        "type": "switch",
        "z": "e5ff7f387ec0af58",
        "name": "",
        "property": "event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "update",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "783d18f0473c6345"
            ]
        ]
    },
    {
        "id": "d31042a673ff0977",
        "type": "watch",
        "z": "e5ff7f387ec0af58",
        "name": "Watch output folder",
        "files": "/Users/gelso/workspace/PoC/client/inferences/output",
        "recursive": true,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "03a5554fd1cc6569"
            ]
        ]
    },
    {
        "id": "31f530353a98f1a7",
        "type": "http request",
        "z": "e5ff7f387ec0af58",
        "name": "Http Post ",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/new-defect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1540,
        "y": 280,
        "wires": [
            [
                "aba485c9d5252c0c"
            ]
        ]
    },
    {
        "id": "98bb624796090f07",
        "type": "catch",
        "z": "e5ff7f387ec0af58",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 380,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "447c76ee6502aceb",
        "type": "debug",
        "z": "e5ff7f387ec0af58",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 600,
        "wires": []
    },
    {
        "id": "acbc95ca8524c449",
        "type": "change",
        "z": "e5ff7f387ec0af58",
        "name": "Change name",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "imageBase64",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "size",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "event",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "dc80e2a28022a9cc"
            ]
        ]
    },
    {
        "id": "aba485c9d5252c0c",
        "type": "change",
        "z": "e5ff7f387ec0af58",
        "name": "Change name",
        "rules": [
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "file",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 420,
        "wires": [
            [
                "447c76ee6502aceb"
            ]
        ]
    }
]